<div class="child">
  Here is child component
  <div class="talk-conversion">
    <div class="media border p-3" *ngFor="let item of talkContents">
      <span *ngIf="item.obj === 'parent'" class="mr-3 mt-3 rounded-circle"> P </span>
      <div class="media-body">
        <p>{{item.message}}</p>
      </div>
      <span *ngIf="item.obj === 'child'" class="ml-3 mt-3 rounded-circle"> C </span>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label for="obj">What do want to say:</label>
      <input id="tmp" class="form-control" [(ngModel)]="content" (keydown.enter)="doSay()" />
    </div>
    <button (click)="doSay()">Say now</button>
  </div>
</div>