<div class="card">
  <div class="card-header">
    Action tracking example
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <blockquote class="blockquote mb-0">
                  Action tracking list
                </blockquote>
              </h5>
              <div>
                <div class="card-text">
                  <div class="col-md-12">
                    <ng-container *ngIf="isEdit$ | async as isEdit">
                      <h6 *ngIf="!isEdit.value">Add new action tracking</h6>
                      <h6 *ngIf="isEdit.value">Edit existed action tracking</h6>
                      <form name="form" role="form" [formGroup]="actionTrackingForm" (ngSubmit)="save()" #elRefForm
                        #actionTrackingFormRef="ngForm">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input id="name" [placeholder]="'Name'" formControlName="name" class="form-control" />
                          <div *ngIf="actionTrackingForm.get('name').hasError('minlength')" class="text-danger">
                            Please provide at least 5 characters
                          </div>
                          <div *ngIf="actionTrackingForm.get('name').hasError('required')" class="text-danger">
                            Please provide value
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-sm btn-outline-primary mr-2">Save</button>
                          <button type="reset" class="btn btn-sm btn-outline-danger">Reset</button>
                        </div>
                      </form>
                    </ng-container>
                    <ng-container>
                      <div class="card" *ngFor="let item of actionTrackings; trackBy: trackById">
                        <div class="card-header">
                          #<span>{{item.id}}</span>
                        </div>
                        <div class="card-body">
                          <span class="p-1">{{item.name}}</span>
                          <span class="p-1">{{item.lastModified}}</span>
                        </div>
                        <div class="card-footer">
                          <button (click)="editItem(item)" class="btn btn-sm btn-outline-primary mr-2">Edit</button>
                          <button (click)="delete(item)" class="btn btn-sm btn-outline-danger">Delete</button>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <blockquote class="blockquote mb-0">
                  Tracking multiple action
                </blockquote>
              </h5>
              <div>
                <div class="card-text">
                  <div class="col-md-12">
                    <ng-container>
                      <div class="card" *ngFor="let item of trackings;">
                        <div class="card-header">
                          #<span>{{item.type}}</span>
                        </div>
                        <div class="card-body" *ngIf="item['payload']">
                          <span class="p-1">{{item['payload'] | json}}</span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>