<div class="card">
	<div class="card-header">
		Welcome to niwa home. Have you a nice day ^^!
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<h5>Examples below will be described the way use Ngrx associated Rxjs library in angular 7+</h5>
			</div>
			<div class="col-md-12">
				<div class="col-md-3">
					<ngx-date-range [(ngModel)]="dateRangeValue" (ngModelChange)="onChange($event, value)">
					</ngx-date-range>
				</div>
			</div>
			<hr />
			Here is value of date range out of component: <br />
			{{dateRangeValue | json}}
		</div>
		<div class="row">
			<ngx-context-area class="col-md-12" [contextMenu]="contextMenu"></ngx-context-area>
		</div>
	</div>
</div>